html,
body {
    padding: 0;
    margin: 0;
    background-color: #e1e1e1;
}

.v-application {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #d8cfc9 !important;
}

.v-data-table__wrapper>table>tbody>tr:hover{
    background-color: rgb(190, 237, 255) !important;
    cursor: pointer;
}

.v-data-table__mobile-row__header {
    color: #2196F3;
}