html,
body {
    padding: 0;
    margin: 0;
    background-color: #e1e1e1;
}

.v-application {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #d8cfc9 !important;
}